.category-block {
  background-color: $white;
  border-radius: 3px;

  &--card {
    min-height: 358px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    // .category-block__main {
    //   padding-right: 50px;
    // }
  }

  &--standalone {
    margin-top: 24px;
  }

  &__head {
    background: $alabaster;
    border-radius: 3px 3px 0px 0px;
    padding: 0 16px;
    height: 68px;
    display: flex;
    align-items: center;
    // &--seashell {
    //   background-color: $seashell;
    // }
  }

  &__main {
    padding-right: 16px;
    padding-left: 16px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: 16px;
  }

  &__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1;
    margin-left: 8px;
    margin-bottom: 0;
  }

  &__icon {
    max-width: 48px;
  }

  &__children {
    flex-direction: column;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  &__child {
    padding-top: 9px;
    padding-bottom: 6px;
    border-bottom: 1px solid $alabaster;
  }

  &__link {
    font-size: 12px;

    &:hover {
      color: $valencia;
    }
  }

  &__more {
    color: $codgray;
    font-weight: 600;
    font-size: 12px;
  }
}