.feature-block {
  max-width: 234px;
  text-align: center;
  margin: 0 auto 32px;

  &__icon {
    margin-bottom: 24px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 14px;
  }
  &__text {
    font-size: 14px;
    color: transparentize($color: $black, $amount: 0.3)
  }
}