.product {
  &__gallery {

  }

  &__media {
    text-align: center;
    background-color: $white;
  }

  &__image {
    width: 100%;
    max-width: 400px;

    @include media-breakpoint-up(xl) {
      max-width: 100%;
    }
  }
  &__images {
    display: flex;

    &-image {
      width: 80px;
      border: 1px solid $silver;
      border-radius: 3px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &--selected {
        border-color: $valencia;
      }
    }
  }
  &__info {
    margin-bottom: 40px;
  }
  &__sku {
    font-size: 12px;
    color: $silver;
  }
  &__feature {
    font-size: 14px;
    line-height: 2.7;
    &-name {
      color: $gray;
    }

    &-value {
      color: $codgray;
      text-align: right;
    }
  }
  &__add2cart {
    &-text {
      font-size: 14px;
      color: transparentize($color: $codgray, $amount: 0.5);
    }
  }
  &__price {
    display: flex;
    flex-direction: column;
    &-old {
      color: $boulder;
      font-size: 24px;
      font-weight: 500;
    }
    &-actual {
      color: $codgray;
      font-size: 36px;
      font-weight: 600;
    }
  }
  &__icons {
    font-size: 12px;
    display: flex;
    margin-top: 24px;

    &-item {
      color: $boulder;
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
  }
  &__cart {
    background-color: $white;
    padding: 12px;
  }
  &__tab {
    color: $gray;
    font-weight: 600;
    margin-right: 16px;
    display: inline-block;

    &--active {
      color: $black;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: -3px;
        height: 2px;
        width: 100%;
        background-color: $valencia;
      }
    }
  }
  &__description {
    font-size: 14px;
    color: $gray;
    margin-bottom: 40px;
  }
}