$block: '.product-card';

#{$block} {
  background: #FFFFFF;
  box-shadow: 0px 1px 4px transparentize($color: $black, $amount: 0.9);
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 30px;

  &--wide {
    #{$block}__image { display: none; }
    #{$block}__top,
    #{$block}__line {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    #{$block}__stock {
      &--top {
        @include media-breakpoint-up(md) {
          display: none;
        }
      }
      &--bottom {
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
    #{$block}__icons--vertical {
      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    #{$block}__price {
      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }
    #{$block}__transformer {
      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__stock--bottom {
    display: none;
  }

  &__icons {
    display: flex;

    &--vertical {
      display: none;
    }

    &-item {
      margin-right: 8px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
  }
  &__image {
    margin-bottom: 24px;
  }

  &__sku {
    margin-bottom: 16px;
    font-size: 14px;
    &-key {
      color: transparentize($color: $codgray, $amount: .3);
    }
    &-value {
      color: $codgray;
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: transparentize($color: $codgray, $amount: .9);
    margin-bottom: 16px;
  }
  &__title {
    font-size: 16px;
    font-weight: 700;
    color: $codgray;
  }
  &__stock {
    font-size: 10px;
  }

  &__form {
  }
  &__price {
    margin-bottom: 20px;
  }
  &__more {
    font-size: 14px;
    font-weight: 600;
    color: #1d1919;
    background: #f6f6f6;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    flex-grow: 1;
    margin-right: 8px;
  }

  &__main {}
  &__bottom {
    display: flex;
  }
}