.section {
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 22px;

    &--center {
      justify-content: center;
      text-align: center;

      .section__more {
        flex-basis: 100%;
        text-align: right;
      }
    }
  }
  &--promos {
    margin-bottom: 24px;
  }
  &--benefits {
    // margin-bottom: 70px;
    .section__head {
      margin-bottom: 50px;
    }
  }
  &--categories {
    margin-bottom: 16px;
  }
  &--brands {
    background-color: $seashell;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &--features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__title {
    margin-bottom: 0;
  }
  &__lead {
    color: $silver;
    font-size: 12px;
    margin-bottom: 0;
  }
  &__more {
    color: $valencia;
    font-weight: 600;
    font-size: 14px;
  }
}