.site-header {
  font-size: 12px;
  &__hamburger {
    border: 0;
    background: transparent;
    padding: 0;
    cursor: pointer;
  }
  &__top {
    color: $white;
    font-weight: 700;
    background-color: $codgray;
    padding: 6.5px 0;
    position: relative;

    @include media-breakpoint-up($breakpoint-up) {
      padding: 10px 0;
    }
    &-left {

    }
    &-right {
      display: flex;
      justify-content: flex-end;

      @include media-breakpoint-up(lg) {
        justify-content: space-between;
      }
    }

  }

  &__mode {
    @include media-breakpoint-down($breakpoint-down) {
      margin-left: 84px;
    }
  }
  &__days {
    color: $gray
  }
  &__hours {}

  &__pages {

    &-link {
      color: $white;
      margin-right: 1.5em;
      &:hover {
        color: $valencia;
      }
    }
  }

  &__tel {
    color: inherit;
  }

  &__contacts {
    display: flex;
    align-items: center;
  }

  &__socials {
    @include media-breakpoint-up(sm) {
      margin-left: 16px;
    }
  }

  &__bottom {
    background-color: $white;
    box-shadow: 1px 0px 5px transparentize($color: $black, $amount: 0.85);
    padding: 8.5px 0;

    @include media-breakpoint-up($breakpoint-up) {
      padding: 20px 0;
    }
    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      // > *:not(:first-child):not(:last-child) {
      //   @include media-breakpoint-up(md) {
      //     margin-left: 40px;
      //   }
      // }
    }
  }
  &__logo {
    max-width: 230px;

    @include media-breakpoint-down($breakpoint-down) {
      position: absolute;
      top: 0;
      padding-left: 12px;
      bottom: 0;
      width: 92px;
      background: white;
      z-index: 1;
      display: flex;
      align-items: center;
    }
  }

  &__search {
    flex-grow: 1;

    @include media-breakpoint-down($breakpoint-down) {
      margin-left: 26px;
      margin-right: 6px;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 40px;
    }
  }

  &__catalog {
    position: relative;
    
    &-action {
      font-size: 14px;
      font-weight: bold;
      color: $valencia;
      border-width: 2px;
      border-style: solid;
      padding: 10px 36px;
      &:hover {
        color: $valencia;
      }
      &--revealer {
        display: flex;
        align-items: center;
        border-color: $valencia;
        border-radius: 50px;
        @include media-breakpoint-up(lg) {
          margin-left: 40px;
        }
      }
      &--concealer {
        background-color: $white;
        position: absolute;
        top: 0;
        bottom: -20px;
        right: 0;
        z-index: 1;
        border-color: $gallery;
        border-bottom: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
    &-text {
      margin-left: 10px;
    }
  }

  &__cart {
    @include media-breakpoint-up(lg) {
      margin-left: 24px;
    }
  }
  &__user {
    background-color: transparentize($codgray, 0.95);
    padding: em(12, 12);
    margin-left: em(24, 12);

    @include media-breakpoint-down($breakpoint-down) {
      font-size: 8px;
    }
  }
}