.slider1 {
  &__slide {
    height: 330px;
    background-size: cover;
  }
  &__arrow {
    width: 36px;
    height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: transparentize($color: $shark, $amount: .5);
    border: none;
    &-icon {
      position: relative;
    }
  }
  &__prev {
    left: 0;
    border-radius: 0 30px 30px 0;
    &-icon {
      right: 3px;
    }
  }
  &__next {
    right: 0;
    border-radius: 30px 0 0 30px;
    &-icon {
      left: 3px;
    }
  }
  &__dots {
    position: absolute;
    bottom: 16px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    > li {

      > button {
        font-size: 0;
        border: none;
        border-radius: 50%;
        width: 13px;
        height: 13px;
        background-color: $silver;
        margin: 0 4px;
      }
    }
    > li.slick-active {
      > button {
        background-color: $valencia;
      }
    }
  }
}

.slider2 {
  &__slide {
    padding: 16px;
  }
  // &__arrow {
  //   width: 36px;
  //   height: 48px;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   z-index: 1;
  //   background: transparentize($color: $shark, $amount: .5);
  //   border: none;
  //   &-icon {
  //     position: relative;
  //   }
  // }
  // &__prev {
  //   left: 0;
  //   border-radius: 0 30px 30px 0;
  //   &-icon {
  //     right: 3px;
  //   }
  // }
  // &__next {
  //   right: 0;
  //   border-radius: 30px 0 0 30px;
  //   &-icon {
  //     left: 3px;
  //   }
  // }
}