// USER VARIABLES SECTION

// $accent: #D24A43; // Accent Color
// $fontsize: 16px; // Body Font Size
// $textcolor: #333; // Text Color
// $lineheight: 1.65; // Document Line Height
// $userfont: roboto-oh5, sans-serif; // User Font Family
// $systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

$white: #ffffff;
$black: #000000;
$alabaster: #f8f8f8;
$codgray: #1D1919;
$gray: #8C8C8C;
$valencia: #D24A43;
// $silver: #C0C0C0;
$shark: #252931;
$silver: #bababa;
$boulder: #797979;
$seashell: #f1f1f1;
$chalice: #afafaf;
$wildsand: #f6f6f6;
$gallery: #ebebeb;

// BOOTSTRAP CUSTOMIZATION SECTION
$primary: $black;
$secondary: $valencia;

$body-color: $black;
$body-bg: $alabaster;

$link-color: $codgray;
$link-hover-decoration: none;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: "Raleway", $font-family-sans-serif;
