@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import 'vars';
@import 'fonts';
@import 'config';
@import 'general';
@import 'blocks/**/*';

// body > header {
//   display: none;
// }

// body > main > section:not(:last-child) {
//   display: none;
// }

.promo {
  height: 330px;
  background-size: cover;
}

.brand {
  padding: 16px;
}