@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import 'vars';
@import 'fonts';
@import 'config';
@import 'general';
@import 'blocks/**/*';

// body > header {
//   display: none;
// }

// body > main > section:not(:last-child) {
//   display: none;
// }

.promo {
  height: 330px;
  background-size: cover;
}

.brand {
  padding: 16px;
}

.price {
  font-size: 20px;

  &__old {
    color: $boulder;
    font-weight: 600;
    margin-right: 8px;
  }

  &__actual {
    color: $black;
    font-weight: 700;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
  line-height: 50px;
  font-weight: 600;
  color: $codgray;
}

.select2-container .select2-selection--single {
  height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px;
}

.select2-container--default .select2-selection--single {
  background-color: transparent;
  border: 2px solid $silver;
  border-radius: 0;
}

@import 'utilities';